/* Styles to apply to all --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://res.cloudinary.com/benaldo66/image/upload/v1642636492/textute-1_icr4gx.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Font styling -------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}



/* Navigation bar ------------------ */

.navbar-brand {
    transition: transform .3s;
    font-weight: bold;
}

.navbar-brand:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    color: white;
    margin-left: 3px;
}

/* Footer bar ------------------ */

#foot-text {
    text-align: center;
    color: white;
    font-weight: bold;

    text-decoration: none;
}

#foot-text:hover {
    color: rgb(213, 220, 248);
}


/* Index.html styling ------------------- */

.index-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    background-color: rgba(201, 209, 202, 0.8)}

.index-card:hover {
    box-shadow: 9px 9px 9px 9px rgba(48, 36, 119, 0.8);
}

.index-content {
    height: 75px;
}

.index-img {
    margin-top: 15px;
    margin-bottom: 5px;
}

.index-info {
    font-weight: bold;
}

.view-btn {
    width: 80%;
}

.view-btn:hover {
    font-weight: bold;
}

.page-no {
    font-weight: bold;
}

.page-item {font-weight: bold;}


/*Category styling -------------*/

.category-home {
    width: 100%;
}

.no-category {
    margin: auto;
    font-weight: bold;
}

.cat-title {
    font-weight: bold;
}


.no-category-image {
    width: 60%;
    margin: auto;
    padding-top: 25px;
}

.cat-btn {
    width: 80%;
}

/* Search_bar.html styling --------------*/

.search-count {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
}

.result-count {
    text-align: center;
    width: 100%;
}

.no-matches-search {
    margin: auto;
}


.search-home {
    margin: auto;
    width: 100%;
    display: block;
}

.search-container {
    background-color: rgba(201, 209, 202, 0.9);
    border: 4px solid rgb(118, 118, 216, 0.8);

}

/* News styling -------------------*/
.game-img{
    height: 120px;
    width: 100px;

}

.game-img-1{
    height: 120px;
    width: 100px;
}

.overlook-img{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.news-div {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: rgba(201, 209, 202, 0.9)
}


@media only screen and (max-width: 992px) {
    .game-img-1{
        display: none;
    }
    .game-img{
        display: none;
    }
  }


/* Post_Detail.html styling ----------------- */

.detail-card{
    background-color: rgba(201, 209, 202, 0.9);
    border: 4px solid rgb(118, 118, 216, 0.8);
    padding: 8px;
}

.post-container{
    text-align: center;
    word-wrap: break-word;
    white-space:pre-wrap;
}

.detail-img {
    padding-top: 14px;
    padding-bottom: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.detail-title{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;

}

.detail-author{
    display: block;
    text-align: center;
}

.detail-category{
    display: block;
    text-align: center;
}

.detail-creted-on{
    display: block;
    text-align: center;
}

.detail-btn{
    width: 100%;
    text-align: center;
    margin-top: 6px;
    margin-right: 19px;

}

.detail-btn-2{
    width: 100%;
    text-align: center;
    margin-top: 16px;
    margin-right: 19px;
}

.like-btn{
    text-align: center;
}

/* Comment section style -------------*/

.comment-container{
    background-color: rgba(201, 209, 202, 0.9);
    border: 4px solid rgb(118, 118, 216, 0.8);
}

.comment-title{
    margin-top: 9px;
    text-align: center;
    font-weight: bold;
}

.no-comment{
    margin-top: 15px;
    text-align: center;
}

.add-comment{
    margin-top: 15px;
    text-align: center;
}

.comment-table{
    margin: auto;
}

.comment-name{
    text-align: center;
}

.comment-content{
    text-align: center;
    word-wrap: break-word;
    white-space:pre-wrap;
}

.comment-div{
    border: 2px solid rgb(118, 118, 216, 0.8);
}

/* Create post style ------------------- */

.create-container {
    background-color: rgba(201, 209, 202, 0.9);
    border: 4px solid rgb(118, 118, 216, 0.8);
}

.post-btn {
    width: 100%;
}

/* Allauth Styling ------------------------------ */

/* Login ----------------------------------- */

.login {
    text-align: center;
}

.login-container {
    margin: auto;
    text-align: center;
    background-color: rgba(201, 209, 202, 0.9);
    border: 4px solid rgb(118, 118, 216, 0.8);
    width: 45%;
    font-weight: bold;
}

.login-form {
    margin: auto;
}

#id_login {
    overflow: visible;
    text-align: center;
    margin: auto;
    display: flex;
} 

#id_password {
    overflow: visible;
    text-align: center;
    margin: auto;
    display: flex;
}

.primaryAction {
    margin: 15px;
}

/* Logout Styling */

.logout-container {
    margin: auto;
    font-weight: bold;
    text-align: center;
    width: 40%;
    background-color: rgba(201, 209, 202, 0.9);
    border: 4px solid rgb(118, 118, 216, 0.8);
}

.logout-vault-img {
    width: 40%;
    margin: auto;
    display: grid;
    margin-top: 5px;

}