/* Styles to apply to all --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://res.cloudinary.com/benaldo66/image/upload/v1642636492/textute-1_icr4gx.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Font stylings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}



/* Navigation bar ------------------ */

.navbar-brand {
    transition: transform .3s;
    font-weight: bold;
}

.navbar-brand:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    color: white;
    margin-left: 3px;
}

.search-bar-btn {
    font-weight: bold;
    color: white;
    background-color: rgb(146, 166, 194);
    border: 1px solid black;
}

/* Footer bar ------------------ */

#foot-text {
    text-align: center;
    color: white;
    font-weight: bold;

    text-decoration: none;
}

#foot-text:hover {
    color: rgb(213, 220, 248);
}


/* Index.html styling ------------------- */

.index-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    background-color: rgba(201, 209, 202, 0.8)}

.index-card:hover {
    box-shadow: 9px 9px 9px 9px rgba(48, 36, 119, 0.8);
}

.index-content {
    height: 75px;
}

.index-img {
    margin-top: 15px;
    margin-bottom: 5px;
}

.index-info {
    font-weight: bold;
}

.view-btn {
    width: 80%;
}

.view-btn:hover {
    font-weight: bold;
}


/*Category stylings*/

.category-home {
    width: 100%;
}

.no-category {
    margin: auto;
}

.no-category-image {
    width: 60%;
    margin: auto;
    padding-top: 25px;
}

/* Search_bar.html Stylings */

.search-count {
    width: 100%;
    text-align: center;
}

.result-count {
    text-align: center;
    width: 100%;
}

/* News stylings*/
.game-img{
    height: 120px;
    width: 100px;

}

.game-img-1{
    height: 120px;
    width: 100px;
}

.overlook-img{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.news-div {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: rgba(201, 209, 202, 0.9)}
}

@media only screen and (max-width: 992px) {
    .game-img-1{
        display: none;
    }
    .game-img{
        display: none;
    }
  }