{% extends "account/base.html" %}
{% load i18n %}
<title>Falloutinator | {% block title %}Logout {% endblock %}</title>
{% block content %}
<div class="logout-container">
  <h1>{% trans "Sign Out" %}</h1>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  <p>We will miss you</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-primary mb-3">{% trans 'Sign Out' %}</button>
  </form>
</div>
<img class="logout-vault-img" src="https://res.cloudinary.com/benaldo66/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1643399623/vault-boy-wood_l7ofg4.png" alt="Vault boy on wood background">
{% endblock %}
