{% extends "base.html" %}
<title>Falloutinator | {% block title %}Create Blog Post{% endblock %}</title>

{% block content %}
{% if user.is_authenticated %}
<div class="create-container col-md-12">

<div class="form-group create-form">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary post-btn" >Post</button>
    </form>
</div>
</div>

<script>
    var username = "{{ user.id }}";
    document.getElementById("user1").value = username;
</script>

{% else %}
<h1>
You Must Sign Up To Create A Post
</h1>
<a href="{% url 'BLOG:homepage' %}">
    <h2 class="btn btn-primary">Back</h2>
    </a>
{% endif %}
{% endblock %}
