{% extends "account/base.html" %}

{% load i18n %}

<title>Falloutinator | {% block title %}Contact Us {% endblock %}</title>

{% block content %}
<div class="contact-container">
    <h1 class="text-center">Contact Us</h1>
    <p class="text-center">Would you like to report someone? Delete your account or have any other issues?
        please get in touch via Email at <strong>benjaminjoe43@gmail.com</strong>
        I will respond within 24 hours
    </p>
    <a href="{% url 'BLOG:homepage' %}"> <h2 class="btn btn-primary detail-btn">Back</h2> </a>

</div>

{% endblock %}


