{% extends "base.html" %}
<title>Falloutinator | {% block title %}Home{% endblock %}</title>

{% block content %}
        <div class="container">
                <div class="row justify-content-md-center">
                    {% for post in posts %}
                    {{ post.title }}
                    {{ post.author }}
                    {{ post.created_on }}
                    {{ post.content|slice:200 }}
                    {% endfor %}
                </div>
        </div>
{% endblock %}