{% extends "base.html" %}
<title>Falloutinator | {% block title %}{{ post.title }}{% endblock %}</title>

{% block content %}

<div class="detail-card">
  <h1 class="detail-title">{{ post.title|title }}</h1>
  <h6 class="detail-author">Written By: {{ post.author }}</h6>
  <h6 class="detail-category">{{ post.category }}</h6>
  
  <form class="like-btn" action="{% url 'BLOG:like_post' post.slug %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
      {% if post.liked %}
      <h6><button class="far fa-thumbs-up btn btn-danger" type="submit" name="post_id" value="{{ post.id }}">{{ post.like_number }} Like(s)</button></h6>
      {% else %}
      <h6><button class="far fa-thumbs-up btn btn-primary" type="submit" name="post_id" value="{{ post.id }}">{{ post.like_number }} Like(s)</button></h6>
      {% endif %}
    {% else %}
    <h6 class="far fa-thumbs-up">
    {{ post.like_number }} Like(s)
    </h6>
    <p><a href="{% url 'account_signup' %}">Sign Up For Free To Like Posts</a></p>
    {% endif %}

  </form>


  <h6 class="detail-creted-on"><small>{{ post.created_on }}</small></h6>
  <div class="post-container">
  <p class="detail-content">{{ post.content|safe}}</p>
  </div>
  {% if "placeholder" in post.post_image.url %}
  <img class="detail-img" src="https://res.cloudinary.com/benaldo66/image/upload/v1642635685/placeholder_lpvbw2.jpg" alt="Lazer background image with walls">
  {% else %}
  <img class="detail-img" src="{{ post.post_image.url }}">
  {% endif %}
  {% if user.id == post.author.id %}
  <a class="btn btn-primary detail-btn" href="{% url 'BLOG:EditPost' post.slug %}" role="button">Edit Post</a>
  <a class="btn btn-primary detail-btn" href="{% url 'BLOG:DeletePost' post.slug %}" role="button">Delete Post</a>
  {% endif %}
  <a href="{% url 'BLOG:homepage' %}"> <h2 class="btn btn-primary detail-btn">Back</h2> </a>
</div>

<div class="comment-container col-md-12">
    {% with comments.count as total_comments %}
    <h1 class="comment-title">{{ total_comments }} Comment{{  total_comments|pluralize  }}</h1>
    {% endwith %}
    {% for comment in comments %}
    <div class="comment-div">
    <h5 class="comment-name">Comment By {{ comment.name }}:</h5>
    <p class="comment-content">{{ comment.content }}</p>
    </div>
    {% empty %}
    <h3 class="no-comment">No Comments Yet!</h3>
    {% endfor %}
    <h3 class="add-comment">Add A Comment Here</h3>

    <form id="comment_form" method="post">
        {% csrf_token %}
        <table class="comment-table">
        {{ comment_form.as_table }}
      </table>
      <button type="submit" class="btn btn-primary btn-block">Post Comment</button>

    </form>


    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <p><a class="btn btn-primary detail-btn-2" href="{% url 'BLOG:EditPost' post.slug %}" role="button">Edit Post</a></p>
    <p><a class="btn btn-primary detail-btn" href="{% url 'BLOG:DeletePost' post.slug %}" role="button">Delete Post</a></p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}