{% extends "base.html" %}
<title>Falloutinator | {% block title %}{{ post.title }}{% endblock %}</title>

{% block content %}
<a href="/">
<h2 class="btn btn-primary">Back</h2>
</a>
{{ post.author.id }}
{{ user.id }}
{{ post.content }}
<form action="{% url 'BLOG:like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="post_id" value="{{ post.id }}">Like</button> - {{ like_number }}
</form>

<div class="col-md-12">
    {% with comments.count as total_comments %}
    <h1>{{ total_comments }}Comment(s)</h1>
    {% endwith %}
    {% for comment in comments %}
    Comment {{ forloop.counter }} By {{ comment.name }} 
    {{ comment.content }}
    {% empty %}
    <p>No Comments Yet</p>
    {% endfor %}
    <h1>Add A Comment</h1>
    <form id="comment_form" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Post Comment</button>
    </form>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}

    <p><a class="btn btn-primary view-btn" href="{% url 'BLOG:EditPost' post.slug %}" role="button">Edit Post</a></p>
    <p><a class="btn btn-primary view-btn" href="{% url 'BLOG:DeletePost' post.slug %}" role="button">Delete Post</a></p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}