{% extends "base.html" %}
<title>Falloutinator | {% block title %}{{ q }}{% endblock %}</title>

{% block content %}

<div class="container">
    <div class="row">
        {% if q %}
        <h3 class="search-count">Blog Posts Containing "{{ q }}"</h3>
        {% with results.count as total_results %}
        <h4 class="result-count">
            We Found {{ total_results }} Object(s)
        </h4>
        {% endwith %}
            {% for post in results %}
                <div class="col-lg-4 index-card">
                  {% if "placeholder" in post.post_image.url %}
                  <img class="rounded-circle index-img" src="https://res.cloudinary.com/benaldo66/image/upload/v1642635685/placeholder_lpvbw2.jpg" alt="Lazer background image with walls" width="140" height="140">
                  {% else %}
                  <img class="rounded-circle index-img" src="{{ post.post_image.url }}" alt="" width="140" height="140">
                  {% endif %}

                  <h2>{{ post.title|title }}</h2>
                  <p class="index-content">{{ post.content|striptags|slice:25}}...</p>
                  <p><small class="index-info">Written By: {{ post.author }} <br>
                  {{ post.created_on }} <br> {{ post.category }}</small></p>
                  <p><a class="btn btn-primary view-btn" href="{{ post.get_absolute_url }}" role="button">View Post</a></p>
                </div>
                {% empty %}
                
                <h2>No Matching Posts</h2>
            {% endfor %}
{% endif %}
{% endblock %}